extends base.pug



block style 
  style 
          include ../static/style.css 
  

block content

       section#pic 
            div Welcome to dance cloub
            div.small just do it feel it 
      
       section#mission 
            h3 Our Archivements
            div.a 
             p Best trainers
             div.cardbox

                div.imgee 
                    img(src="/static/color.png", alt="nf")
                div.content
                   ||Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro soluta sit dolore nam, vitae cum.


            div.a 
             p All Dance coch 
             div.cardbox

                div.imgee 
                    img(src="/static/color.png", alt="nf")
                div.content
                    ||Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam similique consectetur explicabo hic quisquam ab!


            div.a
             p  Our Top Dancers
             div.cardbox

                div.imgee 
                    img(src="/static/color.png", alt="nf")

                div.content
                    ||Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ratione!


       section#spo 
            h Our Partners
              
            div#logos
               div.ime 
                  img(src="/static/airtel.png", alt="not found")
               div.ime 
                  img(src="/static/dunzo.png", alt="not found")
               div.ime 
                  img(src="/static/flipkart.png", alt="not found")
               div.ime 
                  img(src="/static/myntra.png", alt="not found") 
       
       