doctype html 
html 
    head 
       style 
          include ../static/style.css 
    body 
       nav#bar 
          ul
             div#img
               img(src="/static/logo.png", alt="not found")
               p ABCD
             li #[a(href="/") Home] 
             li #[a(href="/") About]
             li #[a(href="/") Support] 
             li #[a(href="/") Register]
             li #[a(href="/") Help]
       section#pic 
            div Welcome to dance cloub 
            div.small just do it feel it 
      
       section#mission 
            h3 our Archivements
            div.a 
             p Best trainers
             div.cardbox

                div.imgee 
                    img(src="/static/color.png", alt="nf")
                div.content
                   ||Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro soluta sit dolore nam, vitae cum.


            div.a 
             p All dance coch 
             div.cardbox

                div.imgee 
                    img(src="/static/color.png", alt="nf")
                div.content
                    ||Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam similique consectetur explicabo hic quisquam ab!


            div.a
             p  our top dancers
             div.cardbox

                div.imgee 
                    img(src="/static/color.png", alt="nf")

                div.content
                    ||Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ratione!


       section#spo 
            h our partners
              
            div#logos
               div.ime 
                  img(src="/static/airtel.png", alt="not found")
               div.ime 
                  img(src="/static/dunzo.png", alt="not found")
               div.ime 
                  img(src="/static/flipkart.png", alt="not found")
               div.ime 
                  img(src="/static/myntra.png", alt="not found") 
       footer#foot 
            p Copyright 2023 Antim Dance Acedemy.com |All right reserved
       script  
          include ../static/index.js
       